* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #0097e6;
}

:focus {
  outline: none;
}


.title {
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  text-align: center;
}

.add-task-box {
  margin: 100px auto;
  display: flex;
  padding-bottom: 20px;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
}

.add-task-box__input {
  margin-top: 20px;
  border-radius: 3px;
  width: 300px;
  height: 50px;
  font-size: 15px;
  border: 0;
  padding: 7px 0;
  border-bottom: 1px solid #ccc;
  background-color: #eee;
}


.task-list__list {
  max-width: 70%;
  margin: 0 auto;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  background-color: #192a56;
}

.task-list__item {
  color: #dcdde1;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  justify-content: space-between;
  padding: 20px;
}

.fa-trash-alt {
  color: #f5f6fa;
  font-size: 20px;
  transition: 0.4s;
}

.task-list__item--delete {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
}

.fa-trash-alt:hover {
  color: #ccc;
}

.add-task-box__button {
  width: 100px;
  height: 30px;
  margin: 10px;
  background-color: #e67e22;
  border: 0;
  color: #ecf0f1;
  transition: all .3s;
}

.add-task-box__button:hover {
  background-color: #c0392b;
  cursor: pointer;
}

@media (min-width: 1024px) {
  .option-buttons-container {
    flex-direction: row;
  }
}

.options-button {
  display: flex;
  justify-content: center;
}